.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('./images/flower-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8); 
  padding: 5px;
  margin-top: 20px; 
  border-radius: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  margin: 0 10px;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #575757;
  color: white;
  border-radius: 50px;
}